# Ignorar la carpeta de activos/assets
#/assets/

# Ignorar todos los archivos CSS dentro de la carpeta de activos/assets
#/assets/**/*.css

# Ignorar todos los archivos JS dentro de la carpeta de activos/assets
#/assets/**/*.js

# Ignorar todos los archivos SVG dentro de la carpeta de activos/assets
#/assets/**/*.svg

# Ignorar todos los archivos JSON dentro de la carpeta de activos/assets
#/assets/**/*.json

# Changelog
changelog.txt